@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'oswaldregular';
    src: url('/fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

  body {
    font-family: 'oswaldregular', sans-serif;
    margin: 0;
    padding: 0;
  }
